{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "swagger client for {{npmName}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "fetch",
    "typescript",
    "swagger-client",
    "{{npmName}}"
  ],
  "license": "Unlicense",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts" : {
    "build": "tsc --outDir dist/"
  },
  "dependencies": {
    "urijs": "^1.19.1"
  },
  "devDependencies": {
    "@types/node": "^12.7.8",
    "@types/urijs": "^1.19.4",
    "typescript": "^3.6"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}